.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-italic {
    font-style: italic;
}


@for $i from 1 to 9 {
    .text-w$(i)00 {
        font-weight: $(i)00;
    }
}
